wordpress_db_data/*
Dockerfile
Dockerfile.*
docker-compose*.yml
.git/
.gitignore
.vscode
README.md
static/
staticfiles/
nginx/
docker-compose*.yml
Dockerfile
*.tar
# **/migrations/*
/core/media/
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg-info
dist
venv
.env
*.git
node_modules
.test
*.md
.venv
.env*
# docker-*.sh
backup*
